/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]ee/
/[Aa]rtifacts/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/

ExportedObj/
.consulo/
.vs/
.idea/
.gradle/
/.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

!*.meta

/Assets/AssetStoreTools*
/Assets/AddressableAssetsData/*/*.bin*

/ServerData/

.DS_Store
Thumbs.db
Desktop.ini

*.aab
*.apk